/Como funciona o Deep Learning_2017.pdf
/[1]-(AULA-1)-(PARTE-1)-Treinamento-Supervisionado.pptx
/[1]-(AULA-2)-(PARTE-1)-Treinamento-não-Supervisionado.pptx
/[1]-(AULA-3)-(PARTE-1)-Aprendizado-por-reforço.pptx
/[1]-(AULA-4)-(PARTE-1)-Algoritmos-de-regressão - Copia.pptx
/[1]-Introdução-ao-ML.pdf
/[1]-Linguagens de Programação para ML.pdf
/[2]-(AULA-1)-(PARTE-2)-Algoritmos-para-treinamento-supervisionado.pptx
/[2]-(AULA-2)-(PARTE-2)-Algoritmo-K-means.pptx
/[2]-(AULA-3)-(PARTE-2)-Algoritmo-Q-Learning.pptx
/[2]-(AULA-4)-(PARTE-2)-Funcionamento-do-algoritmo.pptx
/[3]-Redes-Neurais.pdf
/[3]-Scilab-para-ML.pdf
/[4]-Algoritmos-Genéticos.pdf
/[4]-R-para-ML.pdf
/[5]-Algoritmos-SVM.pdf
/[6]-DATASETS.pdf